<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="interpia.dao.CertificateDao">
 
 <resultMap type="Certificate" id="CertificateMap">
    <id column="certificate_no"   property="certificateNo"/>
    <result column="user_no"  property="userNo"/>
    <result column="certificate_name"  property="certificateName"/>
    <result column="acquistion_date"  property="acquistionDate"/>
  
  </resultMap>
 
   <insert id="insert" parameterType="Certificate">
  insert into certificate
  (user_no, 
  certificate_name, acquistion_date)
  values
  <foreach collection="files" item="file" separator=",">
      (#{userNo},
       #{file.certificateName}, #{file.acquistionDate})
       </foreach>
  </insert>
  
 <select id="findByNo" resultMap="CertificateMap" parameterType="int">
	select
		*
	from 
		certificate c, employee e
	where
		e.user_no = #{userNo}
 </select>
 
   <delete id="delete" parameterType="int">
    delete from certificate
    where user_no=#{userNo}
  </delete>
 
 	<update id="update" parameterType="Certificate">
		update certificate
		<set>
			<if test="certificateName != null and certificateName != ''">certificate_name=#{certificateName},</if>
			<if test="acquistionDate != null">acquistion_date=#{acquistionDate},</if>
		</set>
		where
		user_no = #{userNo}
	</update>
 </mapper>